:root {
  --color-yellow: #b6cb49;
  --color-highlight: #d3d3d3;
  --color-transparent: #00000000;

  --color-blue-shade-1: #c0edff;
  --color-blue-shade-2: #87ceeb;

  --color-brown-shade-1: #ae6e36;
  --color-brown-shade-2: #7f4b1c;
  --color-brown-shade-3: #693d1a;

  --color-plain-white: #fff;
  --color-white-shade-1: #fbffff;
  --color-white-shade-2: #eaeaea;

  --color-red-shade-1: #cf371f;
  --color-red-shade-2: #911d04;
  --color-translucent-red-5: #ff646480;

  --color-green-shade-1: #4caf50;
  --color-green-shade-2: #3d8c40;
  --color-green-shade-3: #218e3d;
  --color-green-shade-4: #327335;
  --color-green-shade-5: #38642f;
  --color-translucent-green-2: #00800033;

  --color-gray-shade-1: #b8b8b8;
  --color-gray-shade-2: #8f8f8f;
  --color-gray-shade-3: #7a7a7a;
  --color-gray-shade-4: #6c6c6c;
  --color-gray-shade-5: #4d4d4d;
  --color-translucent-gray-5: #eaeaea80;
  --color-translucent-gray-25: #ffffff40;

  --color-plain-black: #000;
  --color-black-shade-1: #292a2a;
  --color-translucent-black-1: #0000001a;
  --color-translucent-black-2: #00000033;
  --color-translucent-black-3: #0000004d;
  --color-translucent-black-4: #00000066;
  --color-translucent-black-5: #00000080;
  --color-translucent-black-07: #00000012;
  --color-translucent-black-13: #00000021;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  scrollbar-width: none;
  justify-content: center;
  -ms-overflow-style: none;
  background: var(--color-blue-shade-1);
}

body::-webkit-scrollbar,
audio {
  display: none;
}

.music-modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 20px;
  visibility: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: var(--color-translucent-black-5);
  animation: fade-in 1s ease 1s forwards;
}

.music-modal {
  position: relative;
  padding: 35px 40px 40px;
  gap: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "system-ui", "Trebuchet MS", "Helvetica";
}

.music-modal h3 {
  color: white;
  font-size: 24px;
}

.music-modal div {
  display: flex;
  gap: 15px;
}

.music-modal button {
  padding: 15px 30px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
}

#no-button {
  border: 2px solid var(--color-green-shade-3);
  color: var(--color-plain-white);
  background-color: var(--color-translucent-green-2);
}

#yes-button {
  background-color: var(--color-green-shade-3);
}

.fade-out-animation {
  animation: fade-out 1s ease forwards;
}

.rain-wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0.8;
  pointer-events: none;
}

.rain {
  position: fixed;
  width: 15px;
  height: 120px;
  animation: rain 0.5s linear infinite;
}

.drop {
  width: 1px;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(
    to bottom,
    var(--color-transparent),
    var(--color-translucent-gray-25)
  );
  animation: drop 0.5s linear infinite;
}

.main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform-origin: center;
}

.clouds {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  gap: 35px;
  margin-bottom: 50px;
  transform: scale(0.8);
}

.clouds::before {
  content: "";
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 34px;
  height: 34px;
  background-color: var(--color-plain-white);
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: 0px 0px 40px 10px white;
}

.cloud {
  position: relative;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--color-white-shade-1);
  box-shadow: inset 0 -1.5px 5px var(--color-white-shade-2);
}

.cloud::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-white-shade-1);
}

.cloud::after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-white-shade-1);
  box-shadow: inset -10px 0.1px 5px var(--color-translucent-gray-5);
}

.cloud:nth-child(2) {
  transform: scale(1.5);
  transform-origin: bottom;
}

.roof-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-right: 0.4px;
}

.flag-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 0;
  top: 0;
  left: calc(50% - 0.5px);
}

.flag-stand {
  display: flex;
  align-items: center;
}

.flag-finial {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 5px;
  height: 5px;
  background-color: var(--color-gray-shade-4);
  border-radius: 50%;
  z-index: 1;
  box-shadow: inset 0 -1px 2px var(--color-translucent-black-3);
}

.flag-rod {
  width: 1px;
  height: 34px;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: var(--color-gray-shade-4);
  position: relative;
  z-index: 0;
  box-shadow: inset 0 4px 0.5px var(--color-translucent-black-3),
    inset 0 -1px 1px var(--color-translucent-black-3);
}

.flag {
  width: 68px;
  height: 22px;
  clip-path: inset(0 0 0 0);
  transform: translateZ(0);
  position: relative;
  z-index: -1;
  margin-top: 5px;
}

.flag::before {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 24px;
  background-color: var(--color-blue-shade-1);
}

.flag-section-1 {
  top: 0;
  left: 0;
  width: 33px;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.flag-section-1::before {
  content: "";
  top: 5px;
  z-index: 2;
  width: 115px;
  height: 18px;
  right: -1px;
  position: absolute;
  border-radius: 50%;
  transform: rotate(-10.5deg);
  background: linear-gradient(
    90deg,
    var(--color-red-shade-1) 80%,
    var(--color-red-shade-2) 100%
  );
}

.flag-section-1::after {
  content: "";
  z-index: 2;
  width: 25px;
  top: 3px;
  rotate: 0.5deg;
  height: 14px;
  right: -0.2px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  position: absolute;
  background: linear-gradient(
    90deg,
    var(--color-red-shade-1) 5%,
    var(--color-red-shade-2) 100%
  );
}

.flag-section-1 div {
  z-index: 3;
  width: 115px;
  height: 12px;
  top: 19px;
  right: -0.6px;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-blue-shade-1);
  transform: rotate(-8.5deg) translateZ(0);
}

.flag-section-1 div::before {
  content: "";
  right: 0px;
  z-index: 2;
  width: 9px;
  bottom: 2px;
  height: 7px;
  position: absolute;
  transform: rotate(8.5deg);
  background-color: var(--color-red-shade-2);
  box-shadow: inset 0 2px 2px var(--color-translucent-black-3);
}

.flag-section-2 {
  top: 0;
  right: 0;
  width: 44px;
  height: 100%;
  position: absolute;
}

.flag-section-2::before {
  content: "";
  top: -9.5px;
  z-index: 1;
  width: 93px;
  right: -20px;
  height: 18px;
  position: absolute;
  border-radius: 50%;
  transform: rotate(12deg);
  background-color: var(--color-blue-shade-1);
}

.flag-section-2::after {
  content: "";
  top: 1.65px;
  z-index: 0;
  right: -3px;
  width: 75px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  transform: rotate(-5deg);
  background: linear-gradient(
    90deg,
    var(--color-red-shade-1) 45%,
    var(--color-red-shade-2) 100%
  );
}

.spire-wrapper {
  position: relative;
  margin-top: 31px;
  padding-top: 2px;
  clip-path: inset(0 0 0 0);
  transform: translateZ(0);
}

.spire-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.spire-container::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--color-red-shade-1);
  border-radius: 50%;
  z-index: 7;
  box-shadow: inset 0 -1px 2px var(--color-red-shade-2);
}

.spire {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 64px;
  clip-path: inset(0 0 0 0);
  transform: translateZ(0);
  background-color: var(--color-red-shade-1);
  margin-top: -1px;
  box-shadow: inset -4px 0 10px var(--color-translucent-black-3);
}

.spire::before {
  content: "";
  top: 7px;
  right: -4px;
  width: 182px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  transform: rotate(-52deg);
  background-color: var(--color-blue-shade-1);
}

.spire::after {
  content: "";
  top: 7px;
  left: -4px;
  width: 182px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transform: rotate(52deg);
  background-color: var(--color-blue-shade-1);
}

.spire-highlight {
  width: 6px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 23px;
  z-index: 5;
  transform: rotate(32.5deg);
  background-color: var(--color-translucent-red-5);
  filter: blur(2px);
}

.spire-shadow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: -15px;
  z-index: 1;
  filter: blur(2px);
  box-shadow: 30px 30px 50px var(--color-translucent-black-3);
}

.blocks {
  border-top: 1px var(--color-red-shade-2) solid;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    var(--color-red-shade-2),
    var(--color-red-shade-2) 1px,
    transparent 1px,
    transparent 10.6px
  );
}

.blocks:nth-of-type(even) {
  margin-left: 5.4px;
}

.stone {
  border-radius: 10px;
  background-color: var(--color-gray-shade-1);
  box-shadow: inset 0 -2px 2px var(--color-translucent-black-5),
    0.5px 0.5px 0 var(--color-translucent-black-5);
}

.small-stone {
  width: 6px;
  height: 4px;
}

.medium-stone {
  width: 8px;
  height: 4px;
}

.large-stone {
  width: 10px;
  height: 5px;
}

.structure-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
  width: 100px;
}

.structure-section-1 {
  width: 100px;
  height: 20px;
  position: relative;
  background-color: var(--color-gray-shade-1);
  border-top: 1px var(--color-highlight) solid;
  background: linear-gradient(
    90deg,
    var(--color-gray-shade-1) 20%,
    var(--color-gray-shade-4) 100%
  );
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: -0.1px;
}

.structure-section-1 .stones {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 0.8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.structure-section-1 .stones :first-child {
  display: flex;
  align-items: end;
  gap: 0.8px;
}

.structure-section-2 {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: -13.5px;
  justify-content: space-between;
  width: 100px;
  height: 14px;
  clip-path: polygon(
    0 100%,
    0 0,
    15% 0,
    15% 100%,
    28.33% 100%,
    28.33% 0,
    43.33% 0,
    43.33% 100%,
    56.66% 100%,
    56.66% 0,
    71.66% 0,
    71.66% 100%,
    84.99% 100%,
    84.99% 0,
    100% 0,
    100% 100%
  );
  background: linear-gradient(
    90deg,
    var(--color-gray-shade-1) 20%,
    var(--color-gray-shade-4) 100%
  );
  border-top: 1px var(--color-highlight) solid;
}

.structure-section-3 {
  width: 100px;
  height: 10px;
  background-color: var(--color-gray-shade-4);
  clip-path: polygon(0 0, 100% 0, 94% 100%, 6% 100%);
  margin-top: -0.7px;
}

.structure-section-4-wrapper {
  position: relative;
}

.structure-section-4-wrapper .stones-1 {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8px;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.structure-section-4-wrapper .stones-2 {
  position: absolute;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 0.8px;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.structure-section-4-wrapper .stones-2 :last-child {
  display: flex;
  gap: 0.8px;
}

.structure-section-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 60px;
  background-color: var(--color-gray-shade-1);
  background: linear-gradient(
    90deg,
    var(--color-gray-shade-1) 20%,
    var(--color-gray-shade-4) 100%
  );
  margin-top: -0.7px;
  overflow: hidden;
}

.structure-section-4::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -100%;
  left: 13%;
  transform: translateX(-50%) rotate(25deg);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 20px 20px 50px var(--color-translucent-black-1);
  filter: blur(1px);
}

.grilles-window {
  border: 0.5px var(--color-highlight) solid;
  border-bottom: 0.5px var(--color-gray-shade-2) solid;
  height: 34px;
  width: 27px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 2px;
  background-color: var(--color-gray-shade-1);
  background: linear-gradient(
    45deg,
    var(--color-gray-shade-4) 0% var(--color-gray-shade-1) 100%
  );
  box-shadow: 0.8px 0.8px 0px var(--color-translucent-black-4);
  transform: scale(1.3);
}

.grilles-window-side-jamb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: inset -1px 0 2px var(--color-translucent-black-1),
    inset 1px 0 2px var(--color-translucent-black-1),
    inset 0 4px 2px var(--color-translucent-black-1);
}

.grilles-window-opening {
  display: flex;
  height: 100%;
  width: 17px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin: 4px 4px 0 4px;
  background-color: var(--color-plain-black);
}

.grilles-window-bottom-jamb {
  height: 4px;
  width: 100%;
  clip-path: polygon(12% 0, 88% 0, 100% 100%, 0% 100%);
  background-color: var(--color-gray-shade-1);
}

.grilles {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  bottom: 1.5px;
  left: 50%;
  transform: translateX(-50%);
  height: 26px;
  width: 13.5px;
}

.grilles div {
  width: 1px;
  height: 100%;
  background-color: var(--color-brown-shade-1);
  border-radius: 0.7px;
  box-shadow: inset 0.5px 0px 0.5px var(--color-translucent-black-3);
}

.grilles div:first-child,
.grilles div:last-child {
  height: 90%;
}

.structure-section-5 {
  position: relative;
  width: 120px;
  height: 16px;
  background-color: var(--color-gray-shade-1);
  background: linear-gradient(
    90deg,
    var(--color-gray-shade-1) 20%,
    var(--color-gray-shade-4) 100%
  );
  border-top: 1px var(--color-highlight) solid;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.structure-section-5 .stones {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.8px;
  top: calc(50% - 0.5px);
  transform: translateY(-50%);
  right: 1px;
}

.structure-section-5 .stones :first-child {
  display: flex;
  align-items: end;
  gap: 0.8px;
}

.structure-section-6 {
  width: 120px;
  height: 16px;
  background-color: var(--color-gray-shade-4);
  clip-path: polygon(0 0, 100% 0, 94% 100%, 6% 100%);
  margin-top: -0.7px;
}

.structure-section-7-wrapper {
  position: relative;
}

.structure-section-7-wrapper .stones {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8px;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.structure-section-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 106px;
  height: 110px;
  background-color: var(--color-gray-shade-1);
  background: linear-gradient(
    90deg,
    var(--color-gray-shade-1) 20%,
    var(--color-gray-shade-4) 100%
  );
  margin-top: -0.5px;
}

.structure-section-7::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -40%;
  left: 15%;
  transform: translateX(-50%) rotate(25deg);
  width: 110px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 20px 20px 50px var(--color-translucent-black-1);
  filter: blur(1px);
}

.structure-section-7 .stones {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 0.8px;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
}

.structure-section-7 .stones :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 0.8px;
}

.glass-windows {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 8px;
}

.glass-window {
  border: 0.5px var(--color-highlight) solid;
  border-bottom: 0.5px var(--color-gray-shade-2) solid;
  height: 34px;
  width: 27px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 2px;
  background-color: var(--color-gray-shade-1);
  background: linear-gradient(
    45deg,
    var(--color-gray-shade-4) 0% var(--color-gray-shade-1) 100%
  );
  box-shadow: 0.8px 0.8px 0px var(--color-translucent-black-4);
  transform: scale(0.9);
}

.glass-window-side-jamb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: inset -1px 0 2px var(--color-translucent-black-1),
    inset 1px 0 2px var(--color-translucent-black-1),
    inset 0 4px 2px var(--color-translucent-black-1);
}

.glass {
  position: relative;
  display: flex;
  height: 100%;
  width: 85.1%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin: 2px 2px 0 2px;
  background: linear-gradient(
    180deg,
    var(--color-green-shade-3) 0%,
    var(--color-yellow) 100%
  );
  overflow: hidden;
  box-shadow: inset 0 1px 2px var(--color-translucent-black-5);
}

.glass::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: var(--color-translucent-black-07);
}

.glass div:first-child {
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-green-shade-5);
}

.glass div:last-child {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: var(--color-green-shade-5);
}

.glass-window-bottom-jamb {
  height: 2px;
  width: 100%;
  clip-path: polygon(8% 0, 92% 0, 100% 100%, 0% 100%);
  background-color: var(--color-gray-shade-1);
}

.door-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 56px;
  height: 55px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 2px;
  background: linear-gradient(
    0deg,
    var(--color-gray-shade-1) -20%,
    var(--color-gray-shade-4) 100%
  );
  box-shadow: inset -1px 0 2px var(--color-translucent-black-1),
    inset 1px 0 2px var(--color-translucent-black-1),
    inset 0 4px 2px var(--color-translucent-black-1);
}

.door {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border: 0.7px var(--color-black-shade-1) solid;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: repeating-linear-gradient(
    90deg,
    var(--color-brown-shade-2),
    var(--color-brown-shade-2) 11.2%,
    var(--color-brown-shade-1) 11.2%,
    var(--color-brown-shade-1) 11.9%,
    var(--color-brown-shade-3) 11.9%,
    var(--color-brown-shade-3) 12.7%
  );
  overflow: hidden;
  box-shadow: inset -1px 0 2px var(--color-translucent-black-1),
    inset 1px 0 2px var(--color-translucent-black-1),
    inset 0 4px 1px var(--color-translucent-black-3);

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 9.2px;
}

.door-vertical-bar {
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 3px;
  height: 100%;
  background-color: var(--color-gray-shade-3);
  border-left: 0.4px var(--color-gray-shade-5) solid;
  border-right: 0.4px var(--color-gray-shade-2) solid;
  padding-top: 1px;
  padding-bottom: 1px;
}

.door-vertical-bar > div {
  width: 2px;
  height: 2px;
  transform: scale(0.5);
  border-radius: 50%;
  background-color: var(--color-gray-shade-1);
  box-shadow: inset 0 -1px 0.8px var(--color-translucent-black-5);
}

.door-horizontal-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4px;
  background-color: var(--color-gray-shade-3);
  border-bottom: 0.6px var(--color-gray-shade-5) solid;
  border-top: 0.6px var(--color-gray-shade-2) solid;
  padding-left: 2px;
  padding-right: 2px;
}

.door-horizontal-bar div {
  display: flex;
  flex-shrink: 0;
  width: 2px;
  height: 2px;
  transform: scale(0.7);
  border-radius: 50%;
  background-color: var(--color-gray-shade-1);
  box-shadow: inset 0 -1px 0.8px var(--color-translucent-black-5);
}

.door-handles {
  display: flex;
  justify-content: space-between;
  padding: 0 12.3px;
  position: relative;
  width: 100%;
  height: 10px;
}

.door-handle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-gray-shade-3);
  position: relative;
  background-color: var(--color-transparent);
  box-shadow: inset 0 1px 0.3px var(--color-translucent-black-3),
    0 1px 0.3px var(--color-translucent-black-3);
}

.door-handle::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: -1.7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-gray-shade-1);
  box-shadow: inset 0 -1.5px 1.3px var(--color-translucent-black-5),
    0 0 0.3px var(--color-translucent-black-5);
}

.door-bottom-jamb {
  position: absolute;
  bottom: 0.4px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 1.6px;
  background-color: var(--color-gray-shade-1);
  clip-path: polygon(3.5% 0%, 96.5% 0%, 100% 100%, 0% 100%);
}

.structure-section-8-wrapper {
  width: 130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.structure-section-8-wrapper .stones-1 {
  position: absolute;
  z-index: 6;
  display: flex;
  flex-direction: column;
  gap: 0.8px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.structure-section-8-wrapper .stones-1 :last-child {
  margin-left: -1.5px;
}

.structure-section-8-wrapper .stones-2 {
  position: absolute;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 0.8px;
  top: 50%;
  transform: translateY(-50%);
  right: 4.5px;
}

.structure-section-8-wrapper .stones-2 :last-child {
  margin-right: -8px;
}

.structure-section-8 {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 14px;
  background-color: var(--color-gray-shade-1);
  background: linear-gradient(
    90deg,
    var(--color-gray-shade-1) 0%,
    var(--color-gray-shade-4) 100%
  );
  clip-path: polygon(4% 0%, 96% 0%, 100% 100%, 0% 100%);
  margin-top: -0.5px;
  border-top: 1px var(--color-highlight) solid;
}

.stairs {
  position: absolute;
  z-index: 5;
  top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.stairs-section-1 {
  width: 70%;
  height: 2px;
  background-color: var(--color-highlight);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.stairs-section-2 {
  width: 70%;
  height: 4px;
  background: linear-gradient(
    90deg,
    var(--color-gray-shade-1) 0%,
    var(--color-gray-shade-4) 100%
  );
}

.stairs-section-3 {
  width: 88%;
  height: 4px;
  background-color: var(--color-highlight);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.stairs-section-4 {
  width: 88%;
  height: 6px;
  background: linear-gradient(
    90deg,
    var(--color-gray-shade-1) 0%,
    var(--color-gray-shade-4) 100%
  );
}

.terrain-wrapper {
  position: relative;
}

.tree {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -104px;
}

.tree-1 {
  left: 35px;
}

.tree-2 {
  right: 35px;
}

.tree-crown {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 60px;
  border-radius: 50% 50% 50% 50% / 65% 65% 35% 35%;
  background-color: var(--color-green-shade-1);
  overflow: hidden;
}

.tree-crown::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -15%;
  left: -20%;
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 50% 50% / 65% 65% 35% 35%;
  background-color: var(--color-green-shade-1);
  box-shadow: 15px 15px 10px var(--color-translucent-black-3);
  filter: blur(4px);
}

.tree-trunk {
  position: relative;
  z-index: 1;
  margin-top: -1px;
  width: 5px;
  height: 40px;
  background-color: var(--color-brown-shade-1);
  border-radius: 50% 50% 50% 50% / 2% 2% 98% 98%;
}

.tree-trunk::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-brown-shade-1);
  border-radius: 50% 50% 50% 50% / 98% 98% 2% 2%;
  box-shadow: inset 0 -0.1px 1px var(--color-translucent-black-3);
}

.tree-trunk::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: var(--color-brown-shade-1);
  box-shadow: inset 0 4px 1px var(--color-translucent-black-3);
}

.tree-shadow {
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 5px;
  background-color: var(--color-translucent-black-1);
  border-radius: 50%;
  filter: blur(0.5px);
}

.terrain-container {
  position: relative;
  margin-top: -25px;
  z-index: -1;
  height: 160px;
  width: 300px;
  overflow: hidden;
}

.terrain-container::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  height: 3px;
  background-color: var(--color-translucent-black-13);
  border-radius: 50%;
  filter: blur(3px);
}

.land {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 300px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-green-shade-1);
  overflow: hidden;
}

.land::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  border-radius: 50%;
  background-color: var(--color-green-shade-1);
  box-shadow: 0px 0 50px var(--color-translucent-black-5),
    150px 0 50px var(--color-translucent-black-2),
    -150px 0 50px var(--color-translucent-black-2);
  filter: blur(10px);
}

.rain-puddle {
  position: absolute;
  z-index: 8;
  bottom: 10px;
  left: 60%;
  width: 30px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-blue-shade-1);
  box-shadow: inset 0 -2px 5px var(--color-blue-shade-2);
}

.rain-puddle::before {
  content: "";
  position: absolute;
  left: -100px;
  z-index: -1;
  top: -3px;
  width: 50px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--color-blue-shade-1);
  box-shadow: inset 0 -3px 5px var(--color-blue-shade-2);
}

.rain-puddle::after {
  content: "";
  position: absolute;
  left: 1px;
  z-index: -2;
  top: -8px;
  width: 15px;
  height: 2px;
  border-radius: 50%;
  background-color: var(--color-blue-shade-1);
  box-shadow: inset 0 -0.01px 2px var(--color-blue-shade-2);
}

.splats-1,
.splats-2 {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.splats-1 > div,
.splats-2 > div {
  width: 15px;
  height: 10px;
  border-top: 2px dotted var(--color-translucent-gray-5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  align-self: center;
}

.splats-1 > div:nth-child(even) {
  align-self: start;
  animation-delay: 0.6s;
}

.splats-2 > div:nth-child(even) {
  align-self: end;
  animation-delay: 0.2s;
}

.splats-1 > div:nth-child(end) {
  align-self: center;
  animation-delay: 0.2s;
}

.splats-2 > div:nth-child(odd) {
  align-self: start;
  animation-delay: 0.9s;
}

.hill {
  position: absolute;
  z-index: -1;
  top: -180px;
  left: 50%;
  width: 323px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--color-green-shade-4);
  clip-path: inset(0 0 0 0);
  transform: translateX(-50%) translateZ(0);
  box-shadow: inset 0 -5px 40px var(--color-translucent-black-5);
  overflow: hidden;
}

.hill::before {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: 95px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: var(--color-blue-shade-1);
}

.hill::after {
  content: "";
  position: absolute;
  z-index: 4;
  bottom: 62px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  left: 0;
  width: 100%;
  height: 67px;
  background-color: var(--color-green-shade-2);
  filter: blur(10px);
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes rain {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes drop {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

/* Mobile Screens */
@media (max-width: 767px) {
  .main-wrapper {
    transform: scale(0.9);
  }
}

/* Tablet Screens */
@media (min-width: 768px) and (max-width: 1439px) {
  .main-wrapper {
    transform: scale(1);
  }
}

/* Desktop Screens */
@media (min-width: 1440px) and (max-width: 1919px) {
  .main-wrapper {
    transform: scale(1.2);
  }
}

/* Large Desktop Screens */
@media (min-width: 1920px) {
  .main-wrapper {
    transform: scale(1.4);
  }
}

/* Mobile Screen Landscape Orientation */
@media (max-height: 550px) and (orientation: landscape) {
  .main-wrapper {
    transform: scale(0.45);
  }
}

/* Tablet Screen Landscape Orientation */
@media (min-height: 551px) and (max-height: 700px) and (orientation: landscape) {
  .main-wrapper {
    transform: scale(0.8);
  }
}
