:root {
  --color-black: #050608;
  --white: #fff;
}

@font-face {
  font-family: twitter;
  src: url("./twitter.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: twitter;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 298px;
  height: 279px;
  transform: scale(2);
}

.full-head-container {
  position: relative;
  width: 110px;
  height: 158px;
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
  background-color: var(--color-black);
}

.ears-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: white;
}

.midline-area {
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 70px;
}

.cheek-highlight {
  position: absolute;
  top: 83.2px;
  left: -2px;
  width: 5.5px;
  height: 10px;
  z-index: 50;
  clip-path: polygon(6% 0, 100% 22%, 100% 98%, 0 82%);
  background-color: #484848;
}

.nose-highlights-container {
  position: absolute;
  top: 81.5px;
  right: 50%;
  width: 19px;
  z-index: 50;
}

.nose-highlight1 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 10.5px;
  height: 18.5px;
  clip-path: polygon(100% 4%, 0 70%, 93% 100%);
  background-color: #484848;
}

.nose-highlight2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 8.5px;
  height: 22px;
  clip-path: polygon(0 0, 100% 12%, 100% 95%, 0 83.5%);
  background-color: #484848;
}

.nose-highlight3 {
  position: absolute;
  top: -0.5px;
  right: 0;
  width: 9.5px;
  height: 10px;
  clip-path: polygon(0 0, 100% 100%, 100% 30%);
  background-color: #484848;
}

.nose-highlight4 {
  position: absolute;
  top: -6px;
  right: -10px;
  width: 9px;
  height: 9.5px;
  clip-path: polygon(25% 9%, 0 81%, 81% 50%);
  background-color: #484848;
}

.forehead-highlights-container {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 40px;
  overflow: hidden;
}

.top-forehead-highlight-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 40px;
  overflow: hidden;
}

.forehead-bottom-highlight-container {
  position: absolute;
  z-index: 20;
  top: 5px;
  left: 5px;
  width: 70px;
  height: 40px;
  overflow: hidden;
}

.top-forehead-highlight-curve2 {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: -10px;
  width: 92px;
  height: 44px;
  background-color: #484848;
}

.forehead-bottom-highlight-curve1 {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: -15px;
  width: 91px;
  height: 43px;
  background-color: var(--color-black);
}

.top-forehead-highlight-curve1 {
  position: absolute;
  border-radius: 50%;
  top: -7px;
  left: -12px;
  width: 22px;
  z-index: 30;
  height: 23px;
  background-color: var(--color-black);
}

.forehead-bottom-highlight-curve2 {
  position: absolute;
  border-radius: 50%;
  top: -10px;
  left: -13px;
  width: 22px;
  height: 23px;
  background-color: #484848;
}

.right-top-forehead-highlight-curve-container {
  position: absolute;
  top: 4px;
  right: -3px;
  width: 14px;
  height: 24px;
}

.right-forehead-bottom-highlight-curve-container {
  position: absolute;
  top: 4px;
  right: -3px;
  width: 14px;
  height: 24px;
}

.right-top-forehead-highlight-curve1 {
  position: absolute;
  border-radius: 50%;
  top: 1.1px;
  z-index: 10;
  left: 0.7px;
  width: 10px;
  height: 20px;
  background-color: #484848;
}

.right-forehead-bottom-highlight-curve1 {
  position: absolute;
  border-radius: 50%;
  top: 3px;
  z-index: 20;
  left: 0.7px;
  width: 10px;
  height: 20px;
  background-color: var(--color-black);
}

.right-top-forehead-highlight-curve2 {
  position: absolute;
  border-radius: 50%;
  top: 1px;
  z-index: 5;
  background-color: var(--color-black);
  left: 4px;
  width: 10px;
  height: 11px;
}

.right-forehead-bottom-highlight-curve2 {
  position: absolute;
  border-radius: 50%;
  top: 3px;
  z-index: 15;
  background-color: #484848;
  left: 4px;
  width: 10px;
  height: 11px;
}

.eyes-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
}

.eyes-container {
  filter: drop-shadow(0 0 5px white);
}

.left-eyes {
  width: 23px;
  height: 8px;
  clip-path: polygon(0 0, 0 0, 100% 100%, 20% 80%);
  background-color: white;
}

.right-eyes {
  width: 23px;
  height: 8px;
  clip-path: polygon(100% 0, 100% 0, 80% 80%, 0 100%);
  background-color: white;
}

.uncovered-area-wrapper {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.uncovered-area-container {
  position: relative;
  width: 87px;
  height: 67px;
  clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
  background-color: #f3d1b5;
}

.left-jaw-cover {
  position: absolute;
  width: 27px;
  height: 25px;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
  background-color: var(--color-black);
}

.right-jaw-cover {
  position: absolute;
  z-index: 20;
  width: 27px;
  height: 25px;
  bottom: 0;
  right: 0;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
  background-color: var(--color-black);
}

.top-lip {
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: 37px;
  border-top: 1px var(--color-black) solid;
  border-radius: 4px;
  height: 20px;
}

.bottom-lip {
  position: absolute;
  top: 26px;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%);
  width: 34.5px;
  height: 5px;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  background-color: #f3d1b5;
}

.right-jaw-shade {
  position: absolute;
  right: -29.5px;
  bottom: 2px;
  z-index: 220;
  width: 104px;
  height: 31.5px;
  clip-path: polygon(68% 0, 97% 22%, 40% 97%);
  background-color: #daa980;
  transform: rotate(339deg);
}

.bottom-chin-shade {
  position: absolute;
  right: 15px;
  bottom: 0;
  z-index: 4;
  width: 45px;
  height: 31.5px;
  clip-path: polygon(100% 59%, 0% 100%, 100% 100%);
  background-color: #dfb28b;
}

.nose-mask-shade {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
  background-color: #dfb28b;
}

.top-lip-shade {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 50%;
  height: 35px;
  background-color: #dfb28b;
}

.bottom-lip-shade {
  position: absolute;
  top: 31px;
  right: 0;
  z-index: 5;
  width: 65%;
  height: 6px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  background-color: #dfb28b;
}

.right-cheek-shade {
  position: absolute;
  right: 1px;
  top: 0;
  z-index: 10;
  width: 15px;
  height: 45px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%);
  background-color: #daa980;
}

.top-chin-shade {
  position: absolute;
  right: 9.5px;
  bottom: 0;
  z-index: 4;
  width: 25px;
  height: 50px;
  background-color: #dfb28b;
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
}

.nose-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 13px;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
  background-color: var(--color-black);
}

.left-cheek-nose-mask-cut {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 1px;
  width: 4px;
  height: 7px;
  clip-path: polygon(0 0, 100% 22%, 100% 100%);
  background-color: #f3d1b5;
}

.right-cheek-nose-mask-cut {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 1px;
  width: 4px;
  height: 7px;
  clip-path: polygon(100% 0, 0 22%, 0 100%);
  background-color: #daa980;
}

.left-ear {
  position: absolute;
  top: 0;
  width: 11px;
  height: 100%;
  background-color: var(--color-black);
  left: 9px;
  clip-path: polygon(0 0, 20% 0, 100% 100%, 0 100%);
}

.right-ear {
  position: absolute;
  top: 0;
  width: 11px;
  height: 100%;
  background-color: var(--color-black);
  right: 9px;
  clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%);
}

.top-head-curve {
  position: absolute;
  border-radius: 50%;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 48px;
  background-color: var(--color-black);
}

.shoulder {
  position: relative;
  z-index: 10;
  margin-top: -0.5px;
  width: 100%;
  height: 47px;
  clip-path: polygon(31.55% 0, 68.45% 0, 100% 100%, 0 100%);
  background-color: var(--color-black);
}

.body {
  position: relative;
  margin-top: -0.1px;
  width: 100%;
  height: 93px;
  background-color: var(--color-black);
  overflow: hidden;
}

.body-highlight1 {
  position: absolute;
  bottom: 60px;
  right: 20px;
  z-index: 50;
  width: 88.5px;
  height: 28px;
  clip-path: polygon(0 0, 100% 22%, 68% 100%, 3% 23%);
  background-color: #484848;
}

.body-highlight2 {
  position: absolute;
  bottom: 80px;
  left: 20px;
  z-index: 50;
  width: 75px;
  height: 40.5px;
  clip-path: polygon(0 91%, 96% 0, 99% 40%, 9% 100%);
  background-color: #484848;
}
.body-highlight3 {
  position: absolute;
  bottom: 78px;
  right: 135px;
  z-index: 50;
  width: 8.5px;
  height: 33px;
  clip-path: polygon(0 100%, 0 20%, 100% 6%, 55% 95%);
  background-color: #484848;
}

.body-highlight4 {
  position: absolute;
  bottom: 77px;
  left: 127.6px;
  z-index: 101;
  width: 18px;
  height: 48px;
  clip-path: polygon(51% 94%, 0 0, 27% 9%, 69% 100%);
  background-color: #484848;
}

.body-highlight5 {
  position: absolute;
  bottom: 103.8px;
  left: 131.5px;
  z-index: 101;
  width: 18.5px;
  height: 17px;
  clip-path: polygon(1% 85%, 0 0, 54% 0, 64% 67%);
  background-color: #484848;
}

.body-highlight6 {
  position: absolute;
  bottom: 91px;
  left: 91.8px;
  z-index: 101;
  width: 15px;
  height: 20.5px;
  clip-path: polygon(100% 100%, 15% 36%, 7% 0, 93% 66%);
  background-color: #484848;
}

.body-highlight7 {
  position: absolute;
  bottom: 86px;
  left: 96.8px;
  z-index: 101;
  width: 14px;
  height: 57px;
  clip-path: polygon(70% 91%, 26% 8%, 45% 15%, 100% 99%);
  background-color: #484848;
}

.body-highlight8 {
  position: absolute;
  bottom: 97px;
  left: 100.5px;
  z-index: 101;
  width: 7px;
  height: 8.5px;
  clip-path: polygon(0 0, 76% 60%, 82% 100%, 0 31%);
  background-color: #484848;
}

.body-highlight9 {
  position: absolute;
  bottom: 100px;
  left: 102.5px;
  z-index: 101;
  width: 4px;
  height: 6.5px;
  clip-path: polygon(0 0, 65% 38%, 82% 100%, 0 46%);
  background-color: #484848;
}

.body-curve1 {
  position: absolute;
  border-radius: 50%;
  top: 0px;
  left: -50px;
  width: 100px;
  height: 70px;
  background-color: white;
  z-index: 60;
}

.body-curve1::after {
  position: absolute;
  content: "";
  top: -1px;
  left: -1px;
  width: 100px;
  height: 70px;
  border: black solid 1px;
  border-radius: 50%;
}

.body-curve2 {
  position: absolute;
  border-radius: 50%;
  top: 38px;
  left: 7.5px;
  width: 142px;
  height: 114px;
  background-color: white;
  z-index: 70;
}

.body-curve3 {
  position: absolute;
  border-radius: 50%;
  top: 38px;
  right: 7.5px;
  width: 142px;
  height: 114px;
  background-color: white;
  z-index: 70;
}

.body-curve4 {
  position: absolute;
  border-radius: 50%;
  top: 0px;
  right: -50px;
  width: 100px;
  height: 70px;
  background-color: white;
  z-index: 60;
}

.body-curve4::after {
  position: absolute;
  content: "";
  top: -1px;
  right: -1px;
  width: 100px;
  height: 70px;
  border: black solid 1px;
  border-radius: 50%;
}

.left-body-overlay {
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 25px;
  background: white;
  z-index: 60;
  left: 0;
}

.right-body-overlay {
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 25px;
  background: white;
  z-index: 60;
  right: 0;
}
